@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*{
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(106, 106, 228);
    height: 100vh;
    overflow: hidden;

}


header {
    background-color: #0074D9;
    padding: 10px;
    text-align: center;
    color: #fff;
}



.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

   /* styling search bar */
   .search input[type=text]{
    width: 400px;
    height: 50px;
    border-radius:25px;
    border: none;

}
 
.search{
    margin: 10px auto;
   display: flex;
  
   justify-content: center;

}
 
.search button{
    background-color: #0074D9;
    color: #f2f2f2;
    border-radius: 30px;
    float: center;
    padding: 20px 15px;
    margin-right: 16px;
    font-size: 12px;
            border: none;
            cursor: pointer;
        }

h1{
    text-align: center;
    text-decoration: solid;
    
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #0074D9;
    border-radius: 20px;
    border-width: 10vh;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#margin br{
    margin-bottom: 20px;



}

#content p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;

}

#content span {
    font-size: 18px;
}





